@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: #201d1f;
  color: #ffffff;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: absolute;
  width: 100%;
}
header a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  padding: 10px;
  transition: 0.4s;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #000000;
}
header a:hover {
  background-color: #ffc11c;
  color: #201d1f;
}
header .logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 2rem;
}
header .navbar {
  justify-self: center;
}

.logo img {
  height: 200px;
}

.nav-list {
  display: inline-flex;
  gap: 2vw;
}

.nav-items {
  text-decoration: none;
  list-style-type: none;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  gap: 2rem;
  background-image: url("../images/waffle-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#main-section .main-title {
  font-family: "Allura", cursive;
  font-size: 3rem;
  text-shadow: 5px 5px #000000;
}
#main-section .cta-button {
  padding: 10px;
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  background-color: #ffc11c;
  border-radius: 20px;
  transition: 0.4s;
}
#main-section .cta-button:hover {
  transform: translateY(-5px);
  color: #a52a2a;
}

.wave {
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: auto;
  max-height: 200px;
}

.round-images {
  border-radius: 100%;
}

#info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  gap: 10vw;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  position: relative;
}

#fresh-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  gap: 10vw;
  flex-wrap: wrap-reverse;
  background-color: #a52a2a;
  padding-top: 10rem;
  position: relative;
}
#fresh-section .wave2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  max-height: 200px;
}

#drink-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  gap: 10vw;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  position: relative;
}

.section-text {
  display: block;
  width: 300px;
  text-align: center;
}
.section-text .section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Allura", cursive;
  font-size: 3rem;
  line-height: 5rem;
}
.section-text .section-paragraph {
  max-width: 300px;
  margin-inline: auto;
}

@media screen and (max-width: 700px) {
  #info-section,
#fresh-section {
    gap: 10px;
  }
  header {
    display: block;
    text-align: center;
  }
  header .logo {
    position: relative;
  }
}/*# sourceMappingURL=style.css.map */