@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

$primary-btn: #ffc11c;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: #201d1f;
  color: #ffffff;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: absolute;
  width: 100%;

  a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.5rem;
  }

  .navbar {
    justify-self: center;
  }
}

.logo {
  img {
    height: 200px;
  }
}

.nav-list {
  display: inline-flex;
  gap: 5vw;
}

.nav-items {
  text-decoration: none;
  list-style-type: none;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  gap: 2rem;

  background-image: url("../images/waffle-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .main-title {
    font-family: "Allura", cursive;
    font-size: 3rem;
  }

  .cta-button {
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    font-size: 1.25em;
    background-color: $primary-btn;
    border-radius: 20px;
  }
}
