@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

$primary-btn: #ffc11c;
$primary-font: "Allura", cursive;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: #201d1f;
  color: #ffffff;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: absolute;
  width: 100%;

  a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 400;
    padding: 10px;
    transition: 0.4s;
    border-radius: 20px;
    &:hover {
      background-color: #ffc11c;
      color: #201d1f;
    }
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2rem;
  }

  .navbar {
    justify-self: center;
  }
}

.logo {
  img {
    height: 200px;
  }
}

.nav-list {
  display: inline-flex;
  gap: 2vw;
}

.nav-items {
  text-decoration: none;
  list-style-type: none;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  gap: 2rem;

  background-image: url("../images/waffle-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .main-title {
    font-family: $primary-font;
    font-size: 3rem;
  }

  .cta-button {
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    background-color: $primary-btn;
    border-radius: 20px;
  }

  .wave {
    position: absolute;
    bottom: 0;
  }
}

.round-images {
  border-radius: 100%;
}

#info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 500px;
  height: 30rem;
  text-align: center;
  gap: 10vw;
  flex-wrap: wrap;
}

#fresh-section {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 500px;
  height: 30rem;
  text-align: center;
  gap: 10vw;
  flex-wrap: wrap-reverse;
}

.section-text {
  display: block;
  width: min-content;
  text-align: center;
  .section-title {
    width: max-content;
    font-family: $primary-font;
    font-size: 3rem;
    line-height: 5rem;
  }

  .section-paragraph {
    max-width: 300px;
    margin-inline: auto;
  }
}
